{% extends "base.html" %}


{% block content %}
  <h1>Newspaper list</h1>
  <form action="" method="get">
    {{ search_form }}
    <input type="submit" value="Search">
  </form>
  <br>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Topics</th>
      <th>Published date</th>
    </tr>
    {% for newspaper in newspaper_list %}
      <tr>
        <td>
          <a href="{% url 'tracker:newspaper_detail' newspaper.id %}">
            {{ newspaper.title }}
          </a>
        </td>
        <td>{% for topic in newspaper.topics.all %}{{ topic }}; {% endfor %}</td>
        <td>{{ newspaper.published_date|date:"Y-m-d" }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
