{% extends "base.html" %}


{% block content %}
  <h1>
    The redactor '{{ redactor.username }}' detail page
    <a
        href="{% url 'tracker:redactor_update' pk=redactor.id %}"
        class="text-decoration-none"
    > ✏️</a>
    <a
        href="{% url 'tracker:redactor_delete' pk=redactor.id %}"
        class="text-decoration-none"
    > 🗑</a>
    <button
        type="button"
        value="⬅️"
        onclick=history.back()
    >
      ⬅️
    </button>
  </h1>
  <br>
  <ul>
    <li>
      <strong>Full name: </strong>
      {{ redactor.first_name }} {{ redactor.last_name }}
    </li>
    <li>
      <strong>Email: </strong>
      {{ redactor.email }}
    </li>
    <li>
      <strong>years of experience: </strong>
      {{ redactor.years_of_experience }}
    </li>
  </ul>
  <hr>
  <h3>The articles of the redactor '{{ redactor.username }}'</h3>
  <ol>
    {% for article in redactor.newspapers.all %}
      <li>
        <strong>Title: </strong>
        <a href="{% url 'tracker:newspaper_detail' article.id %}">{{ article.title }}</a>
        (published {{ article.published_date|date:"Y-m-d" }})
      </li>
    {% endfor %}
  </ol>
{% endblock %}
