{% extends "base.html" %}


{% block content %}
  <h1>
    Topic List
    <a href="{% url 'tracker:topic_create' %}" class="non_decorated_link"> +</a>
  </h1>
  <form action="" method="get">
    {{ search_form }}
    <input type="submit" value="Search">
  </form>
  <br>
  <ol>
    {% for topic in topic_list %}
      <li>
        <a
            href="{% url 'tracker:topic_update' topic.id %}"
            class="text-decoration-none"
        >
          {{ topic }}
        </a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
