.none_style_list {
    list-style: none;
}

.centered {
    text-align: center;
}

.no_border_no_padding {
    border: none;
    padding: 0;
}

.non_decorated_link {
    text-underline: none;
    color: inherit;
}