<ul class="list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">
      <a href="{% url 'tracker:redactor_detail' user.id %}">{{ user }}</a>
    <li class="list-group-item">
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit"
               class="list-group-item no_border_no_padding"
               value="Logout"
        >
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
      <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  <li class="list-group-item">
    <a href="{% url 'tracker:index' %}">Home</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'tracker:topic_list' %}">Topics</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'tracker:redactor_list' %}">Redactors</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'tracker:newspaper_list' %}">Newspapers</a>
  </li>
</ul>